<html>
 <span style='font-weight:bold; text-align:center; font-size:14px'>{{ title }}</span><br/>
 <span>Eating this (from barcode: {{ barcode }}) will</span> <span style='font-weight:bold'>definitely</span> <span>{{ dothis }}</span><br/>
 <a id="product" href="http://www.walmart.com/browse/TV-Video/TVs/_/N-96v3?browsein=true&_refineresult=true&catNavId=3996&povid=cat14503-env172199-module011812-lLink_POVTVS"></a>
 <a id="vote" href="http://hackday.homeoffice.wal-mart.com/default.aspx"></a>
</html>
